<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codersword"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.codersword.StartigPoint"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.example.codersword.Menu"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MENU" />
				
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         
         <activity
            android:name="com.example.codersword.NewGame"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.NEWGAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

                 <activity
            android:name="com.example.codersword.Prgj"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PRGJ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                      <activity
            android:name=".Prgc"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PRGC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                        <activity
            android:name="com.example.codersword.Prgch"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PRGCH" 
                    />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
              <activity
            android:name="com.example.codersword.Prgcp"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.PRGCP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
           
   
              <activity 
                  android:name=".T4"
                  android:screenOrientation="portrait"></activity>
              
              <activity 
                  android:name=".T5"
                  android:screenOrientation="portrait"></activity>
              
              <activity 
                  android:name=".T6"
                  android:screenOrientation="portrait"></activity>
              
              <activity 
                  android:name=".T7"
                  android:screenOrientation="portrait"></activity>
               <activity 
                  android:name=".Score"
                  android:screenOrientation="portrait"></activity>
                <activity 
                  android:name=".HighScore"
                  android:screenOrientation="portrait"></activity>
    </application>

</manifest>